---
layout: layouts/base.njk
templateClass: tmpl-home
---

<h1>Chris Zempel's Blog</h1>

<p>
  Once upon a time, I was studying to become a journalist or PR person but realized being able to write isn't useful if I have nothing worth saying.
  I decided I'd rather write software than other kinds of words and began re-tooling.
  I really enjoyed the challenge of breaking the world down into pieces our robot friends can help us with.
  At some point along the way, I graduated from an individual contributor to a technical manager.
</p>

<p>
  My favorite time of week are saturday mornings when I get to I wake up early, post up at a coffee shop (pastries shouldn't be so satisfying, it's <i>not fair</i>),
  and dig into whatever technical problems meet my fancy. Recently, I've been learning <a href="https://doc.rust-lang.org/book/" target="_blank">Rust</a>.
</p>

<p>
  I think...
  <ul>
    <li>Problem articulations are more important to get right than any particular solution</li>
    <li>Working in a distributed way forces you to clean up your communication pathways and make them explicit</li>
    <li>The only real judge is time, but it still makes the most sense to listen to the most qualified person who's closest to the problem</li>
  </ul>
</p>

<p>
  These days I'm working at <a href="https://www.maritz.com/" target="_blank">Maritz</a> on an incentives engine. Opinions expressed on this site are my own.
</p>

{{ content | safe }}
