---
layout: layouts/base.njk
templateClass: tmpl-home
---

<h1>Chris Zempel's Blog</h1>

<p>
  Hi. I'm a software developer based out of St. Louis, MO. I work at <a href="https://www.aha.io" target="_blank" rel="noopener noreferrer">Aha!</a> (opens in new tab).
</p>

{{ content | safe }}
