---
layout: layouts/base.njk
templateClass: tmpl-home
---

<h1>Chris Zempel's Blog</h1>

<p>
  Hi. I'm a software developer based out of St. Louis, MO.
</p>

<p>
  I believe modern-day society isn't built for the people who live in it.
  I believe one of the main, missing ingredients is the feeling of transcendence.
  I believe this feeling is lying dormant and unactivated all around us.
  Enacting transcendence is a worthy pursuit. Maybe even the most worthy.
</p>

<p>
  Why is it companies who can turn capital into all kinds of things - cars, global supply chains, incredible volume - can't seem to be build good software?
</p>

<p>
  I write when ideas have nowhere else to go. Take a peak:
</p>

{{ content | safe }}
